.main .sider .login-box p{
    margin-bottom: 30px;
}
.main .sider .login-box{
    padding:20px;
    text-align: center;
    background: #fff;
}
.main .sider .info-box{
    background: #fff;
    border-radius: 3px;
    margin-bottom: 15px;
}
.main .sider .info-box:nth-of-type(2) .ant-list .ant-list-header{
    padding:0px;
}
.main .sider .info-box:nth-of-type(2) .ant-list .ant-spin-container{
    padding:10px 0 10px 10px;
}
.main .sider .info-box:nth-of-type(2) .ant-list .ant-spin-container .ant-list-item{
    padding-bottom:0px;
}
.main .sider .info-box:nth-of-type(2) .ant-list .ant-spin-container .ant-list-item a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main .sider .info-box .title{
    padding: 10px;
    background: #f6f6f6;
}
.main .sider .info-box .body{
    padding:10px;
}
.main .sider .info-box .body a.avatar{
    display: block;
}
.main .sider .info-box .body .avatar span{
    margin-left: .5em;
    font-size: 16px;
}
.main .sider .info-box .body .avatar img{
    width: 48px;
    height: 48px;
}
.main .sider .info-box .body .score{
    margin-top: 10px;
}
.main .sider .info-box .body .motto{
    font-style: italic;
}