header{
    position: fixed;
    width: 100%;
    z-index: 3;
}
.header .brand{
    display: block;
    height: 44px;
    max-width: 150px;
    line-height: 44px;
}
.header .brand > img{
    max-width: 100%;
    vertical-align: initial;
}
.header .list-unstyled > li{
    float: left;
    line-height: 20px;
}
.header .list-unstyled > li a{
    float:none;
    color:#ccc;
    text-decoration: none;
    padding:10px 15px;
}
.header .list-unstyled > li a:hover{
    color:#fff;
}
.header .searchInput i{
    background: inherit !important;
}
.header .searchInput input:focus{
    background: #fff;
    border:none;
}